.about_me{
  width: 100%;
  padding: 110px 0 125px;
}
.content_about_me{
  h2{
    margin-top: 40px;
    max-width: 315px;
    &:before{
      margin: 15px 0;
    }
  }
  p{
    margin: 10px 0 35px;
    max-width: 470px;
  }
}
.download{
  padding: 20px 45px;
}

