$standart-font-size: 16px;
$section-title: 46px;
$main-title: 90px;
$family: "Asap", sans-serif;
$main_color: #4d4d4d;
$second-color: #212121;
$nav-item-line: #7b8899;
$btn-hover: #fff;
$black-section: #f6f6f6;
